@model string
@using HelperMethods.Infrastructure
@{
    Layout = null;
}

@*创建内联辅助器*@
@*@helper ListArrayItems(string[] items)
{
    <ul>
        @foreach (string str in items)
        {
            <li>@str</li>
        }
    </ul>
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*<div>
            Here are the fruits:@Html.ListArrayItems((string[])ViewBag.Fruits)
        </div>
        <div>
            Here are the cities:@Html.ListArrayItems((string[])ViewBag.Cities)
        </div>
        <div>
            Here is the message:
            <p>@Model</p>
        </div>*@
    <p>This is the content from the view:</p>
    <div style="border:thin solid black;padding:10px">
        Here is the message:
        <p>@Model</p>
    </div>
    <p>This is the content from the method:</p>
    <div style="border:thin solid black;padding:10px">
        <p>@Html.DisplayMessage(@Model)</p>
    </div>
</body>
</html>
